.main-header {
  text-align: center;
}

body {
  text-align: center;
}

a:link {
  color: #000000;
  text-decoration: none;
}

a:visited {
  color: #708090;
}

a:hover {
  color: #424242;
  text-decoration: none;
}
